@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 60 33% 99%;
    --foreground: 120 33% 25%;
    
    --muted: 60 33% 96%;
    --muted-foreground: 120 33% 25%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 120 33% 25%;
 
    --border: 120 5% 88%;
    --input: 120 5% 88%;
 
    --card: 0 0% 100%;
    --card-foreground: 120 33% 25%;
 
    --primary: 120 33% 25%;
    --primary-foreground: 60 33% 96%;
 
    --secondary: 25 75% 31%;
    --secondary-foreground: 60 33% 96%;
 
    --accent: 25 75% 31%;
    --accent-foreground: 60 33% 96%;
 
    --destructive: 16 100% 65%;
    --destructive-foreground: 60 33% 96%;
 
    --ring: 120 33% 25%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}